@mixin buttongBg() {
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	&:hover {
		color: white;
		background: navy;
	}
}
.backButton {
	text-decoration: none;
	position: fixed;
	top: 20px;
	right: 3%;
	color: navy;
	font-size: 2rem;
	z-index: 9999;
	@include buttongBg();
	svg {
		margin: 8px 0px 0px 10px;
	}
}

.menuButton {
	border: none;
	background: none;
	font-size: 2rem;
	font-weight: bold;
	position: fixed;
	top: 20px;
	left: 3%;
	cursor: pointer;
	color: navy;
	z-index: 9999;
	padding-top: 5px;
	@include buttongBg();
}

.menu {
	position: absolute;
	top: 60px;
	min-width: 200px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	padding: 3px 0 3px 0;
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.midOption {
			border-top: 1px solid lightblue;
			border-bottom: 1px solid lightblue;
		}
		li {
			width: 100%;
			text-align: left;
			font-size: 1.5rem;
			color: navy;
			&:hover {
				background: rgb(98, 230, 253);
			}
			a {
				display: flex;
				align-items: center;

				padding: 8px 10px;
				svg {
					color: navy;
					margin-right: 10px;
				}
			}
		}
	}
}

.backTop {
	position: fixed;
	z-index: 999999;
	bottom: 50px;
	right: 5%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: navy;
	display: grid;
	place-content: center;
	color: white;
	font-size: 1.5rem;
	margin-top: 5px;
	cursor: pointer;
	transition: all 0.1s;
	&:hover {
		color: navy;
		background: white;
	}
	&:active {
		background: lightblue;
	}
}

.displayNone {
	display: none;
}
