.tooltip {
	border-bottom: 1px dotted #666;
	position: relative;
	margin-left: 30px;
	display: flex;
	align-items: center;
	padding-top: 5px;
	color: white;
}

.tooltip .top {
	min-width: 220px;
	width: 30vw;
	max-width: 300px;
	top: -20px;
	left: 50%;
	transform: translate(-50%, -100%);
	padding: 10px 20px;
	background-color: #eeeeee;
	border-radius: 8px;
	position: absolute;
	z-index: 99999999;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h3 {
		font-size: 1.2rem;
		color: navy;
		text-transform: none;
		text-align: center;
		margin-bottom: 10px;
	}
	p {
		color: black;
		font-size: 1rem;
		text-transform: none;
		margin-bottom: 5px;
	}
}

.tooltip:hover .top {
	visibility: visible;
	opacity: 1;
}

.tooltip .top i {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 12px;
	overflow: hidden;
}

.tooltip .top i::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
	background-color: #eeeeee;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
