.container {
	display: grid;
	align-content: space-around;
	background: rgb(25, 100, 110);
	min-height: 100vh;
	height: auto;
	@media screen and (min-width: 768px) {
		padding: 0 1rem;
	}
}

.header {
	color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
		0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
		0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}

.footer {
	font-size: 0.5rem !important;
	width: 100%;
	text-align: center;
	margin-bottom: 0.2rem;
	font-weight: bold;
}

.newRecipeHeader {
	text-align: center;
	text-transform: uppercase;
	color: rgb(98, 230, 253);
}
