.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: rgb(25, 100, 110);
	min-height: 100vh;
	width: 100%;
	padding: 0 2vw;
	position: relative;
}

.header {
	color: white;
	min-height: 150px;
	font-size: 2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
		0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
		0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	h1 {
		text-align: center;
	}
}

.footer {
	display: grid;
	place-content: center;
	min-height: 100px;
	font-size: 1.3rem;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.newRecipeHeader {
	text-align: center;
	text-transform: uppercase;
	color: white;
	line-height: 100px;
	height: 100px;
	font-size: 2rem;
}
