.contentHeader {
	text-align: center;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	.recipeName {
		font-size: 2rem;
		text-align: center;
		text-transform: uppercase;
		color: white;
		margin-top: 1.5em;
	}
	.subTitle {
		height: 50px;
		line-height: 50px;
		text-transform: capitalize;
		color: navy;
		font-size: 1.5rem;
		text-align: center;
	}
	@media screen and (min-width: 576px) {
		.recipeName {
			font-size: 3rem;
		}
		.subTitle {
			font-size: 2rem;
		}
	}
}

.recipe {
	width: 100%;
	margin: 0 auto;
	padding: 2vw;
	margin-bottom: 2em;
	@media screen and (min-width: 768px) {
		width: 80%;
	}
	h6 {
		padding: 1em 0;
		font-size: 1.2rem;
		font-weight: bold;
		text-transform: uppercase;
		color: navy;
		@media screen and (min-width: 576px) {
			font-size: 1.7rem;
		}
	}
}
.editTitle {
	margin-top: 1em;
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.ingredientsContainer {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: flex-end;
	margin-top: 40px;
	.ingredientsBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		@media screen and (min-width: 1177px) {
			width: 64%;
		}
		div {
			display: flex;
			flex-wrap: wrap;
		}

		.ingredients {
			padding: 0.2em;
			font-size: 1.2rem;
			cursor: pointer;
			user-select: none;
			font-weight: 400;
			@media screen and (min-width: 576px) {
				font-size: 1.5rem;
			}
		}
		.checkbox {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
	}
	.imgBox {
		align-self: center;
		margin: 0 auto;
		width: 100%;
		min-height: 260px;
		max-height: 300px;
		min-width: 300px;
		max-width: 380px;
		position: relative;
		z-index: 9;
		box-shadow: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%),
			0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
		@media screen and (min-width: 1177px) {
			width: 33%;
		}
		img {
			z-index: 9;
			border-radius: 5px;
		}
		.favIcon {
			color: red;
			font-size: 2em;
			position: absolute;
			z-index: 99;
			bottom: 0;
			right: 15px;
		}
	}
}
.prepContainer {
	margin-top: 2em;
	font-size: 1.2rem;
	@media screen and (min-width: 576px) {
		font-size: 1.5rem;
	}
	ol {
		margin-left: 40px;
		list-style: bold;
	}
	li {
		padding: 0.2em 0;
		font-size: 1.2rem;
		@media screen and (min-width: 576px) {
			font-size: 1.5rem;
		}
		&::marker {
			font-weight: bold;
			color: white;
		}
	}
}
.cooking {
	margin-top: 1em;
	font-size: 1.2rem;
	color: white;
	@media screen and (min-width: 576px) {
		font-size: 1.5rem;
	}
	p {
		margin-left: 40px;
	}
}

.references {
	p {
		font-size: 1.5rem;
		margin-left: 40px;
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: bold;
		display: flex;
		align-items: center;
		color: black;
		margin-left: 40px;
		margin-bottom: 10px;
		text-decoration: none;
		svg {
			margin-top: 5px;
			margin-left: 10px;
			font-size: 1.5rem;
		}
		&:hover {
			color: white;
		}
	}
}

.noRecipe {
	font-size: 2rem;
	text-align: center;
}
