.container {
	margin-top: 3em;
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	// display: grid;
	// row-gap: 25px;
	// grid-template-columns: repeat(1, 85%);
	// justify-content: space-around;

	// @media screen and (min-width: 468px) and (max-width: 767px) {
	// 	grid-template-columns: repeat(2, 40%);
	// }
	// @media screen and (min-width: 768px) {
	// 	grid-template-columns: repeat(4, 23%);
	// }

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
	}
}
.card {
	margin: 0 1em 3.5em 1em;
	min-width: 300px;
	max-width: 300px;
	background: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	cursor: pointer;
	transition: all ease-in-out 0.5s;
	&:hover {
		background: rgb(98, 230, 253);
		transform: scale(1.1);
	}
	.cardImage {
		width: 100%;
		height: 200px;
		position: relative !important;

		img {
			border-radius: 5px;
		}
	}
	.cardInfo {
		min-height: 150px;
		width: 100%;
		font-size: 2rem;
		font-weight: bold;
		color: navy;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		.cardName {
			min-height: 100px;
			text-align: center;
			display: flex;
			align-items: center;
		}
		.cardDesc {
			width: 100%;
			display: flex;
			justify-content: space-between;
			div {
				font-size: 1.2rem;
			}
		}
		.favButton {
			cursor: pointer;
			background: none;
			border: none;
			font-size: 1em;
			color: red;
		}
	}
}
