.recipe {
	width: 75%;
	min-width: 330px;
	margin: 2em auto;
	height: auto;
	h6 {
		padding: 0.3em 0;
		font-size: 1.5rem;
		font-weight: bld;
		text-transform: uppercase;
		color: navy;
	}
}

.recipeName {
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 0.5em 0;
	text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
		0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
		0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
}
.editTitle {
	margin-top: 1em;
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.ingredientsContainer {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;

	.ingredients {
		padding: 0.2em;
		font-size: 1.5rem;
		cursor: pointer;
		user-select: none;
		font-weight: 400;
	}
	.checkbox {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
	.ingredientsBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: start;
		width: 100%;
		min-width: 330px;
		@media screen and (min-width: 915px) {
			width: 66%;
		}
		div {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.imgBox {
		width: 33%;
		min-width: 300px;
		align-self: center;

		img {
			border-radius: 5px;
		}
	}
}
.prepContainer {
	ol {
		margin-left: 40px;
		list-style: bold;
	}
	li {
		padding: 0.2em 0;
		font-size: 1.5rem;

		&::marker {
			font-weight: bold;
			color: white;
		}
	}
}
.cooking {
	font-size: 1.5rem;
	margin-left: 40px;
	color: white;
}

.close {
	border: none;
	background: none;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 3%;
	right: 3%;
	color: navy;
	cursor: pointer;
	&:hover {
		color: rgb(25, 100, 110);
	}
}
