.formContainer {
	min-height: 80vh;
	width: 70%;
	min-width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 0 auto;
	.standardInputs,
	.textInputsArea {
		display: flex;
		flex-direction: column;
		justify-content: center;
		label {
			display: flex;
			flex-direction: column;
			font-size: 0.5em;
			text-transform: uppercase;
			font-weight: bold;
			color: navy;
		}
		input {
			height: 50px;
			margin-top: 5px;
			font-size: 0.8em;
			padding-left: 5px;
			border-radius: 3px;
			color: #282828;
			user-select: auto;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			&:focus {
				border: 3px solid #5551ff;
			}
		}
		textarea {
			height: 120px;
			margin-top: 5px;
			padding-left: 5px;
			font-size: 0.8em;
			resize: none;
			border-radius: 3px;
			user-select: auto;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			display: block;
			&:focus {
				border: 3px solid #5551ff;
			}
		}
		h6 {
			font-size: 0.5em;
			text-transform: uppercase;
			font-weight: bold;
			color: navy;
			margin-bottom: 5px;
		}
		.prepEditor {
			font-size: 0.4em;

			// CKEditor
			ol,
			ul {
				padding-left: 15px;
				margin: 5px 0;
			}
			p {
				padding-left: 0px;
				margin: 5px 0;
			}

			label {
				display: none;
			}
			.prepPh {
				height: 120px;
				border: none;
				box-shadow: none;
			}
		}
		.submitButton {
			margin-top: 30px;
			font-size: 0.6em;
			width: 50%;
			height: 50px;
			align-self: center;
			outline: 0;
			cursor: pointer;
			border: none;
			line-height: 45px;
			border-radius: 7px;
			background-color: #0070f3;
			color: white;
			font-weight: 400;
			box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
			transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
			&:hover {
				background: rgba(0, 91, 196, 0.9);
				box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
			}
		}
	}
}
.sectionInputs {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.otherInputsArea {
		min-width: 330px;
		width: 48%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: space-between;

		label {
			font-size: 0.5em;
			text-transform: uppercase;
			font-weight: bold;
			color: navy;
		}
		.favoriteCheckbox {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			align-items: center;
			width: 55%;
			height: 40px;
			input {
				width: 0.6rem;
				height: 0.6rem;
				margin-right: 2em;
			}
		}
		select {
			width: 40%;
			height: 40px;
		}
		.imgInput {
			width: 50%;
			height: 110px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			border: 1px solid red;
			.fileSubmit {
				width: 195px;
			}
		}
	}
	.textInputsArea {
		width: 48%;
	}
}
