@mixin fontStyles {
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
	color: navy;
}

.formContainer {
	width: 80%;
	padding: 0 1vw;
	display: flex;
	flex-direction: column;
	// justify-content: space-evenly;
	margin: 0 auto;
	margin-bottom: 1em;
	width: 100%;
	@media screen and (min-width: 450px) and (max-width: 766px) {
		width: 85%;
	}
	@media screen and (min-width: 767px) {
		width: 70%;
		margin: 1em auto;
	}
	.largeInputs,
	.textInputs {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-width: 330px;

		label {
			display: flex;
			flex-direction: column;
			position: relative;

			@include fontStyles();
			.labelInfo {
				display: flex;
				span {
					margin-left: 20px;
					color: black;
					text-transform: none;
					position: absolute;
					top: 55%;
					right: 10px;
				}
			}
		}
		input {
			height: 50px;
			margin-top: 0.5em;
			font-size: 1.5rem;
			padding-left: 5px;
			border-radius: 3px;
			color: #282828;
			user-select: auto;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			&:focus {
				border: 3px solid #5551ff;
			}
		}
		textarea {
			margin-top: 0.5em;
			padding: 5px 0 0 15px;
			font-size: 1.5rem;
			resize: none;
			border-radius: 3px;
			user-select: auto;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			display: block;
			&:focus {
				border: 3px solid #5551ff;
			}
		}
		.editor {
			margin-top: 1em;
			min-height: 250px;
			margin-bottom: 1em;
			.labelInfo {
				display: flex;
				svg {
					font-size: 1.5rem;
				}
				p {
					font-weight: bold;
				}
			}
			h6 {
				@include fontStyles();
				margin-bottom: 0.5em;
			}
			svg {
				margin-bottom: 0.5em;
			}

			.prepEditor {
				font-size: 1.5rem;
				// CKEditor
				ol,
				ul {
					padding-left: 15px;
					margin: 5px 0;
				}
				p {
					padding-left: 0px;
					margin: 5px 0;
				}

				label {
					display: none;
				}
				.prepTextarea {
					height: 120px;
					border: none;
					box-shadow: none;
				}
			}
		}

		.submitButton {
			margin: 30px 0;
			font-size: 1.5rem;
			width: 50%;
			height: 50px;
			align-self: center;
			outline: 0;
			cursor: pointer;
			border: none;
			line-height: 45px;
			border-radius: 7px;
			background-color: #0070f3;
			color: white;
			font-weight: 400;
			box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
			transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
			&:hover {
				background: rgba(0, 91, 196, 0.9);
				box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
			}
			&:disabled {
				background: gray;
				box-shadow: none;
				cursor: auto;
			}
		}
	}
}
.largeInputs {
	textarea {
		height: 170px;
	}
}

.smallInputs {
	min-width: 330px;
	height: 850px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.textInputs {
		height: 330px;
	}
	.checkSelect {
		// height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-evenly;

		select {
			width: 30%;
			min-width: 150px;
			font-size: 1.2rem;
			color: navy;
			font-weight: bold;
			text-transform: uppercase;
		}
		.favCheckbox {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 150px;
			@include fontStyles();

			input {
				width: 25px;
				height: 25px;
				margin-left: 2em;
			}
		}
	}
	.imgInput {
		min-height: 250px;
		max-height: 400px;
		width: 100%;
		label {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
			text-align: center;
			@include fontStyles();

			input[type='file'] {
				display: none;
			}
		}
		.imgBox {
			position: relative;
			max-width: 350px;
			min-width: 200px;
			margin-top: 20px;
			height: 250px;
			width: 350px;
			@media screen and (min-width: 900px) {
				margin-top: 0;
				width: 50%;
			}

			img {
				max-height: 300px;
				height: 250px;
				width: 350px;
				max-width: 350px;
				border-radius: 4px;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			}
		}
	}
}

.error {
	color: red;
	min-width: 250px;
	margin-top: 40px;
	text-align: center;
	h5 {
		font-size: 1.5rem;
		font-weight: bold;
	}
	p {
		font-size: 1.3rem;
	}
}
