.recipe {
	width: 75%;
	min-width: 330px;
	margin: 2em auto;
	height: auto;
	h6 {
		padding: 1em 0;
		font-size: 1.7rem;
		font-weight: bld;
		text-transform: uppercase;
		color: navy;
	}
}
.contentHeader {
	height: 150px;
	.recipeName {
		height: 100px;
		font-size: 3rem;
		text-align: center;
		line-height: 100px;
		text-transform: uppercase;
		color: white;
		margin-top: 0.5em;
		text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
			0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
			0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
	}
	.subtitle {
		height: 50px;
		line-height: 50px;
		text-transform: capitalize;
		color: navy;
		font-size: 2rem;
		text-align: center;
	}
}

.editTitle {
	margin-top: 1em;
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	color: white;
}

.ingredientsContainer {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	margin-top: 1em;
	.ingredientsBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		text-align: start;
		width: 100%;
		min-width: 330px;
		@media screen and (min-width: 915px) {
			width: 66%;
		}
		div {
			display: flex;
			flex-wrap: wrap;
		}

		.ingredients {
			padding: 0.2em;
			font-size: 1.5rem;
			cursor: pointer;
			user-select: none;
			font-weight: 400;
		}
		.checkbox {
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
	}
	.imgBox {
		width: 33%;
		min-width: 300px;
		min-height: 250px;
		max-height: 300px;
		align-self: center;
		position: relative;
		z-index: 9;
		img {
			z-index: 9;

			border-radius: 5px;
		}
		.favIcon {
			color: red;
			font-size: 2em;
			position: absolute;
			z-index: 99;
			bottom: 0;
			right: 15px;
		}
	}
}
.prepContainer {
	margin-top: 2em;

	ol {
		margin-left: 40px;
		list-style: bold;
	}
	li {
		padding: 0.2em 0;
		font-size: 1.5rem;

		&::marker {
			font-weight: bold;
			color: white;
		}
	}
}
.cooking {
	margin-top: 1em;

	font-size: 1.5rem;
	color: white;
	p {
		margin-left: 40px;
	}
}

.close {
	border: none;
	background: none;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 3%;
	right: 3%;
	color: navy;
	cursor: pointer;
	&:hover {
		color: rgb(25, 100, 110);
	}
}
