.modal {
	width: 95%;
	min-height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: rgb(98, 230, 253);
	position: absolute;
	top: 5%;
	right: 2.5%;
	z-index: 99;
	border-radius: 1em;
}

.recipe {
	max-width: 90%;
	min-height: 70%;
	min-width: 300px;
	margin: 0.5em 0;
	h2 {
		text-align: center;
	}
	h6 {
		padding: 0.3em 0;
		font-size: 0.6em;
		font-weight: bold;
	}
}
.ingredientsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.ingredients {
		padding: 0.1em;
		font-size: 0.5em;
		cursor: pointer;
		user-select: none;
	}
	.checkbox {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}
.prepContainer {
	ol {
		margin-left: 40px;
		list-style: bold;
	}
	.steps {
		padding: 0.2em 0;
		font-size: 0.5em;
		&::marker {
			font-weight: bold;
		}
	}
}
.cooking {
	font-size: 0.6em;
	margin-left: 40px;
}

.close {
	border: none;
	background: none;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 3%;
	right: 3%;
	color: navy;
	cursor: pointer;
	&:hover {
		color: rgb(25, 100, 110);
	}
}

.menuButton {
	border: none;
	background: none;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
	top: 3%;
	left: 3%;
	color: navy;
	cursor: pointer;
	svg {
		&:hover {
			color: rgb(25, 100, 110);
		}
	}

	.menu {
		position: absolute;
		z-index: 99;
		min-width: 200px;
		background: white;
		border-radius: 5px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		padding: 3px 0 3px 0;
		ul {
			list-style: none;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.midOption {
				border-top: 1px solid lightblue;
				border-bottom: 1px solid lightblue;
			}
			li {
				width: 100%;
				text-align: left;
				font-size: 0.5em;
				&:hover {
					background: rgb(25, 100, 110);
					color: white;
				}
				a {
					display: flex;
					align-items: center;

					padding: 8px 10px;
					svg {
						margin-right: 10px;
					}
				}
			}
		}
	}
}
